


/* Global variables
------------------------------------*/
$font-stack: Helvetica, Arial, sans-serif;

$primary-color:#458cce;
$secondary-color:#4ebdb7;

/* Global styles
------------------------------------*/
//$list-icon: "

$use-rounded-borders: true;
$border-radius: 6px;