* {
    box-sizing: border-box;
}



/* The navigation bar */
.navbar {
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 40px;
    border-bottom: 1px;
    color:#f6f8f8;
    text-align: left;
    font-size: larger;
}

.container {
   

}
/*button left album page*/
.left {
    margin-top:10px;
    margin-left:530px;
    padding:0,0,0,0;
    border: 1px solid #000000;
    background-color:rgba(39, 98, 207, 0.788);
    font-size:smaller;
}


.right {
    margin-top:10px;
    padding:0,0,0,0;
    border: 1px solid #000000;
    background-color:rgba(49, 45, 45, 0.425);
    font-size:smaller;
}



p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

/* 2. Content
 ----------------------------------------*/
 
img {
    height:150px;
    
}

.pic-list {
    list-style-type: none;
    margin: 200px 40px 200px 200px;
 


}
.first-row-element, .second-row-element, .third-row-element {
    display: inline-block;
    margin: 10px;
   
}